<div class="admin">
  <nav class="admin-navbar-default navbar-custom navbar-fixed-top" id="mainNav" ng-include="'/views/admin-nav.html'"></nav>
  <div class="row">
    <div class="col-sm-2">
      <div class="row">
        <div class="col-sm-12 admin-tab" ng-click="changeTab(1)">
          Option 1
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 admin-tab" ng-click="changeTab(2)">
          Testimonials
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 admin-tab" ng-click="changeTab(3)">
          Option 3
        </div>
      </div>
    </div>
    <div class="col-sm-10 admin-content">
      <div ng-if="currentTab===1">
        <h1>Admin</h1>
        <p>This is where the admin content is going to go.</p>
        <label for="name">Name:</label>
        <input type="text" ng-model="portfolio.name">
        <input type="submit" value="Save Changes" ng-click="saveTab1()" />
      </div>
      <div ng-if="currentTab===2">
        <h1>Testimonials</h1>
        <p>This is where the admin content is going to go.</p>

        <h3>Testimonial 1</h3>
        <label for="name">Client's Name/Alias:</label>
        <input type="text" ng-model="portfolio.testimonial[0].name">
        <label for="title">Client's Title:</label>
        <input type="text" ng-model="portfolio.testimonial[0].title">
        <label for="company">Client's Company:</label>
        <input type="text" ng-model="portfolio.testimonial[0].company">
        <label for="company">Testimonial Body:</label>
        <textarea ng-model="portfolio.testimonial[0].contents"></textarea>

        <h3>Testimonial 1</h3>
        <label for="name">Client's Name/Alias:</label>
        <input type="text" ng-model="portfolio.testimonial[1].name">
        <label for="title">Client's Title:</label>
        <input type="text" ng-model="portfolio.testimonial[1].title">
        <label for="company">Client's Company:</label>
        <input type="text" ng-model="portfolio.testimonial[1].company">
        <label for="company">Testimonial Body:</label>
        <textarea ng-model="portfolio.testimonial[1].contents"></textarea>

        <h3>Testimonial 1</h3>
        <label for="name">Client's Name/Alias:</label>
        <input type="text" ng-model="portfolio.testimonial[2].name">
        <label for="title">Client's Title:</label>
        <input type="text" ng-model="portfolio.testimonial[2].title">
        <label for="company">Client's Company:</label>
        <input type="text" ng-model="portfolio.testimonial[2].company">
        <label for="company">Testimonial Body:</label>
        <textarea ng-model="portfolio.testimonial[2].contents"></textarea>

        <input type="submit" value="Save Changes" ng-click="saveTab2()" />

      </div>
      <div ng-if="currentTab===3">
        <h1>Admin 3</h1>
        <p>This is where the admin content is going to go.</p>
        <label for="name">Name:</label>
        <input type="text" ng-model="portfolio.name">
        <input type="submit" value="Save Changes" ng-click="saveChanges()" />
      </div>
    </div>
  </div>
</div>
