<div class="admin">
  <nav class="admin-navbar-default navbar-custom navbar-fixed-top" id="mainNav" ng-include="'/views/admin-nav.html'"></nav>
    <div class="row">
      <div class="col-sm-2 admin-tab-column">
        <div class="row">
          <div class="col-sm-12 admin-tab" ng-class="(currentTab==1) ? 'admin-tab-current': ''" ng-click="changeTab(1)">
            Option 1
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 admin-tab" ng-class="(currentTab==2) ? 'admin-tab-current': ''" ng-click="changeTab(2)">
            Testimonials
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 admin-tab" ng-class="(currentTab==3) ? 'admin-tab-current': ''" ng-click="changeTab(3)">
            About Me
          </div>
        </div>
      </div>
      <div class="col-sm-10 admin-content">
        <div class="row">
            <div class="col-s-8 col-s-offset-2 col-xs-10 col-xs-offset-1">
                <div ng-if="currentTab===1">
                  <div class="admin-main-box">
                    <div class="admin-main-header">
                      <h1>Admin</h1>
                    </div>
                    <div class="admin-main-content">
                      <p>Mark your availability:</p>
                      <div class="row">
                        <div class="col-xs-2">
                        </div>
                        <div class="col-xs-10">
                          <span class="admin-avail-hours-dbl">12</span>
                          <span class="admin-avail-hours-sgl">3
                          </span>
                          <span class="admin-avail-hours-sgl">6
                          </span>
                          <span class="admin-avail-hours-sgl">9
                          </span>
                          <span class="admin-avail-hours-dbl">12
                          </span>
                          <span class="admin-avail-hours-sgl">3
                          </span>
                          <span class="admin-avail-hours-sgl">6
                          </span>
                          <span class="admin-avail-hours-sgl">9
                          </span>
                        </div>
                      </div>
                      <div class="row">
                          <div class="col-xs-2">
                            Monday:
                          </div>
                          <div class="col-xs-10">
                            <div class="admin-avail-box" ng-repeat="item in portfolio.availability.mon track by $index" ng-click="mondayClick($index)" ng-class="(portfolio.availability.mon[$index] === 0)? 'admin-avail-empty' : 'admin-avail-checked'">
                              </div>
                            </div>
                          </div>
                        <div class="row">
                            <div class="col-xs-2">
                              Tuesday:
                            </div>
                            <div class="col-xs-10">
                              <div class="admin-avail-box" ng-repeat="item in portfolio.availability.tue track by $index" ng-click="tuesdayClick($index)" ng-class="(portfolio.availability.tue[$index] === 0)? 'admin-avail-empty' : 'admin-avail-checked'">
                                </div>
                              </div>
                          </div>
                          <div class="row">
                            <div class="col-xs-2">
                              Wednesday:
                            </div>
                            <div class="col-xs-10">
                            <div class="admin-avail-box" ng-repeat="item in portfolio.availability.wed track by $index" ng-click="wednesdayClick($index)" ng-class="(portfolio.availability.wed[$index] === 0)? 'admin-avail-empty' : 'admin-avail-checked'">
                              </div>
                            </div>
                            </div>
                            <div class="row">
                              <div class="col-xs-2">
                                Thursday:
                              </div>
                              <div class="col-xs-10">
                              <div class="admin-avail-box" ng-repeat="item in portfolio.availability.thu track by $index" ng-click="thursdayClick($index)" ng-class="(portfolio.availability.thu[$index] === 0)? 'admin-avail-empty' : 'admin-avail-checked'">
                                </div>
                              </div>
                              </div>
                              <div class="row">
                                <div class="col-xs-2">
                                  Friday:
                                </div>
                                <div class="col-xs-10">
                                <div class="admin-avail-box" ng-repeat="item in portfolio.availability.fri track by $index" ng-click="fridayClick($index)" ng-class="(portfolio.availability.fri[$index] === 0)? 'admin-avail-empty' : 'admin-avail-checked'">
                                  </div>
                                </div>
                                </div>
                                <div class="row">
                                  <div class="col-xs-2">
                                    Saturday:
                                  </div>
                                  <div class="col-xs-10">
                                  <div class="admin-avail-box" ng-repeat="item in portfolio.availability.sat track by $index" ng-click="saturdayClick($index)" ng-class="(portfolio.availability.sat[$index] === 0)? 'admin-avail-empty' : 'admin-avail-checked'">
                                    </div>
                                  </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-xs-2">
                                      Sunday:
                                    </div>
                                    <div class="col-xs-10">
                                    <div class="admin-avail-box" ng-repeat="item in portfolio.availability.sun track by $index" ng-click="sundayClick($index)" ng-class="(portfolio.availability.sun[$index] === 0)? 'admin-avail-empty' : 'admin-avail-checked'">
                                      </div>
                                    </div>
                                    </div>

                      <label for="name">Name:</label>
                      <input type="text" ng-model="portfolio.name" class="form-control" >
                      <input type="submit" value="Save Changes" ng-click="saveTab1()" class="btn btn-primary admin-submit-btn"/>
                    </div>
                </div>
              </div>

              <div ng-if="currentTab===2">
                <div class="admin-main-box">
                  <div class="admin-main-header">
                    <h1>Testimonials</h1>
                  </div>
                <div class="admin-main-content">

                <h3>Testimonial 1</h3>
                <div>
                  <label for="name">Client's Name/Alias:</label>
                  <input type="text" class="form-control" ng-model="portfolio.testimonial[0].name">
                  <label for="title">Client's Title:</label>
                  <input type="text" class="form-control" ng-model="portfolio.testimonial[0].title">
                  <label for="company">Client's Company:</label>
                  <input type="text" class="form-control" ng-model="portfolio.testimonial[0].company">
                  <label for="company">Testimonial Body:</label>
                  <textarea class="form-control" ng-model="portfolio.testimonial[0].contents"></textarea>
                </div>
                <h3>Testimonial 2</h3>
                <div>
                  <label for="name">Client's Name/Alias:</label>
                  <input type="text" class="form-control" ng-model="portfolio.testimonial[1].name">
                  <label for="title">Client's Title:</label>
                  <input type="text" class="form-control" ng-model="portfolio.testimonial[1].title">
                  <label for="company">Client's Company:</label>
                  <input type="text" class="form-control" ng-model="portfolio.testimonial[1].company">
                  <label for="company">Testimonial Body:</label>
                  <textarea class="form-control" ng-model="portfolio.testimonial[1].contents"></textarea>
                </div>

                <h3>Testimonial 3</h3>
                <div>
                  <label for="name">Client's Name/Alias:</label>
                  <input type="text" class="form-control" ng-model="portfolio.testimonial[2].name">
                  <label for="title">Client's Title:</label>
                  <input type="text" class="form-control" ng-model="portfolio.testimonial[2].title">
                  <label for="company">Client's Company:</label>
                  <input type="text" class="form-control" ng-model="portfolio.testimonial[2].company">
                  <label for="company">Testimonial Body:</label>
                  <textarea class="form-control" ng-model="portfolio.testimonial[2].contents"></textarea>
                </div>
                <input type="submit" class="btn btn-primary admin-submit-btn" value="Save Changes" ng-click="saveTab2()" />
              </div>
              </div>
              </div>
              <div ng-if="currentTab===3">
                <div class="admin-main-box">
                  <div class="admin-main-header">
                      <h1>About Me</h1>
                  </div>
                  <div class="admin-main-content">
                  <div>
                    <label for="name">Name:</label>
                    <input type="text" class="form-control" ng-model="portfolio.about.name">
                    <label for="title">Title:</label>
                    <input type="text" class="form-control" ng-model="portfolio.about.title">
                    <label for="company">Bio:</label>
                    <textarea class="form-control" ng-model="portfolio.about.bio"></textarea>
                  </div>
                  <input type="submit" class="btn btn-primary admin-submit-btn" value="Save Changes" ng-click="saveTab3()" />
                </div>
              </div>
            </div>
            </div>
        </div>
      </div>
  </div>
</div>
