

/** Carousel **/

.carousel-control.right,
.carousel-control.left {
  background-image: none;
}

#featured .item {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
}

.carousel .item img {
  width: 100%; /*img width*/
}


/** Social Media and Links Section **/

aside.clients {
  background-color: #019bfc;
}

aside img#icon {
  display: block;
  margin: 30px auto;
  font-size: 2.5em;
}


/** About Section **/

#about img#profile {
  display: block;
  margin: 30px auto;
}

#about #text {
  display: block;
  margin: 30px auto;
}

#about h2 {
  text-align: right;
}

#about h4 {
  text-align: center;
}

@media (max-width: 767px) {
  #about h2 {
    text-align: center;
  }
}
